.main_body
{       margin:  0  ;
        /* height: 100vh; */
        width: 100%;
        background-color: #f1eeee;
        background-image: url("../../../assets/Images/login.background.png");
        /* background-size: 100%; */
}
.Login_card
{
    width: 400px;
    height: 400px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 2px 5px 15px #999;
}
.underline
{
    width: 100%;
    height: 2px;
    background-color: orangered;
}
input{
    margin-top: 2rem;
}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 15px;
    margin-top: 1rem;
}
.side_content
{
    font-size: 14px;
    margin-top: 1.5rem;
    justify-content: space-between;
    cursor: pointer;
}
a
{
    color: orangered;
    font-weight: 500;

}
a:hover
{
    color: gray;
    text-decoration: none;
    font-weight: 500;

}